* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #475569;
  position: relative;
}
body > * {
  padding: 0px 8px;
}
main {
  flex: 1;
}
header {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 16px;
}
footer {
  background-color: #1e293b;
  padding: 24px 0px;
  text-align: center;
}
a {
  color: inherit;
  font-weight: bold;
}
a:hover {
  color: #cbd5e1;
}
.card-container {
  height: 95%;
  border: 1px solid #1e293b;
  display: grid;
  overflow-y: scroll;
  grid-template-rows: repeat(2, 200px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
  margin: 12px 0px;
  padding: 12px;
  justify-content: space-around;
}
.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.info {
  overflow: hidden;
  flex: 1;
}
.card .btns {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 4px;
  margin-bottom: 8px;
}
.btn {
  width: 120px;
  padding: 4px 8px;
  border: 2px solid maroon;
  border-radius: 15px;
}
.title {
  font-size: 1.1rem;
  font-weight: bold;
}
.desc {
  font-size: 0.8rem;
  font-style: italic;
}
.card > * {
  padding: 0px 8px;
}
.modal {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 40%;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #0f172a;
  z-index: 2;
  color: white;
}
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

form {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form > * {
  display: flex;
  align-items: center;
  gap: 8px;
}
form label {
  flex-basis: 120px;
}
form > div input {
  height: 20px;
}
input[type="file"] {
  margin-top: 16px;
}
.modal .btn {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
.close-btn {
  position: absolute;
  top: 6px;
  right: 8px;
  background-color: inherit;
  border: none;
  color: red;
  cursor: pointer;
}
